<div class="welcome">
  <h1 style="font-size:1.25rem">Who's nuts about nuts? We are!</h1>

  <p>If you love nuts, truly love nuts, from Chocolate Covered Walnuts to Honey Roasted Peanuts to Salted Pistachios,
    you're in the right place. <span class="brandName">It Happened In One Nut!</span> is the best place online to find
    high quality, gourmet nuts, nut butters, and gourmet gift baskets for all occasions.<br><br>

    Doing what we love since 1845, we still roast our specialty nuts the old fashioned way, in small batches at our
    plant in Napa, California.<br><br>

    Decadent nuts and dried fruits are our business. It's easy to indulge but difficult to decide between delicious
    Giant Whole Cashews, Superior Mixed Nuts, Australian Glazed Apricots, or Pecan Caramel Chocolate Turtles. Try them
    all. Don't forget our Peanut Butter Ice Cream Topping. It's the perfect addition to sundaes or smoothies.<br><br>

    <span class="brandName">It Happened In One Nut!</span> offers a wide variety of beautiful Nut Gift Tins, Nut Gift
    Boxes, Nut Gift Towers and Nut Gift Baskets a delicious treat that's good for all occasions. If you need to say
    thank you or congratulations then the best nut gift baskets, corporate gift baskets or gourmet gift baskets are only
    a click or phone call away.<br><br>

    Looking for gourmet nuts wholesale and gourmet nuts in bulk? No problem. We can accommodate large and wholesale
    orders. The smooth, buttery flavor, the satisfying crunch, the delectable saltiness - this is the flavor expected
    for the specialty gourmet nuts from <span class="brandName">It Happened In One Nut!</span>. <br><br>

    Since 1845, <span class="brandName">It Happened In One Nut!</span> has been the Golden State's purveyor of fine
    roasted gourmet nuts, chocolate covered nuts and dried fruits. We have since moved the roasting facility from our
    basement to a factory in Guerneville, but our process is the same: we roast our gourmet nuts in small batches, the
    old fashioned way. In addition to an array of classic roasted gourmet nuts, we also offer premium dried fruits,
    chocolate covered varieties of both nuts and fruits, nut butters, candies and gourmet gift baskets.<br><br>
  </p>
  <p>Please check out our <a routerLink="/products">Products</a>.</p>
  <p>We want to hear from you! Send us a <a routerLink="/contact">message</a>.</p>
</div>
